{% extends "myapp/base.html" %}

{% block content %}
<div class="features" style="margin: 2rem;"> 
    <h5>The Professionals Pride Guesthouse / Paying Guest  is a home away from home for 
        <li>the working professionals </li>
        <li>students & interns</li>
        <li>Near by Hospitals support</li>
        <li>Hotel Trainees/ staff</li>
        <li>Couple friendly</li>
    in ITPL, Bangalore. We are located at prime location in the IT corridor. This allows all our guests to beat their precious time from the traffic.
    <br><br>
    We have accommodation for 20 guests in different types of rooms at reasonable prices. Guests can stay individual or on sharing basis in spacious rooms. All rooms are fully furnished. Amenities include bed with mattress, free Wifi,  Washing machine, Housekeeping, TV with multi channels , Hot and Cold Shower, RO/ Mineral Water, CCTV security , Power backup, Individual wardrobes, Parking available. 
    </h5>
</div>


{% endblock %}